html,
body,
header,
footer,
main,
section,
div,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

img {
  filter: saturate(40%);
}

.categoryFilter,
.searchBox,
.matchedEvents {
  display: flex;
  direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30vw;
}

.categoryFilter {
  margin-left: 140px;
  justify-content: space-around;
  align-content: center;
  border-color: black;
}

.searchBox {
  margin-top: 20px;
}

.matchedEvents {
  color: black;
  margin-bottom: 20px;
}

.imageBox {
  filter: saturate(30%);
}
